@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-text-color-dark: oklch(94.3% 0.007 268.55);
  --color-background-dark: oklch(19.09% 0.009 137.85);
  --color-primary-dark: oklch(55.34% 0.063 274.36);
  --color-secondary-dark: oklch(42.86% 0.031 82.14);
  --color-accent-dark: oklch(53.41% 0.059 135.14);
  --color-text-light: oklch(17.32% 0.011 268.05);
  --color-background-light: oklch(94.87% 0.006 137.77);
  --color-primary-light: oklch(55.34% 0.063 274.36);
  --color-secondary-light: oklch(78.91% 0.027 82.37);
  --color-accent-light: oklch(72.04% 0.056 134.92);
}
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f6eff4;
    --text-100: #eddee9;
    --text-200: #dabed2;
    --text-300: #c89dbc;
    --text-400: #b67ca5;
    --text-500: #a35c8f;
    --text-600: #834972;
    --text-700: #623756;
    --text-800: #412539;
    --text-900: #21121d;
    --text-950: #10090e;

    --background-50: #f6eff4;
    --background-100: #ecdfe9;
    --background-200: #dabed3;
    --background-300: #c79ebd;
    --background-400: #b57da7;
    --background-500: #a25d91;
    --background-600: #824a74;
    --background-700: #613857;
    --background-800: #41253a;
    --background-900: #20131d;
    --background-950: #10090e;

    --primary-50: #f5eff4;
    --primary-100: #ecdfe8;
    --primary-200: #d8c0d1;
    --primary-300: #c5a0ba;
    --primary-400: #b181a4;
    --primary-500: #9e618d;
    --primary-600: #7e4e71;
    --primary-700: #5f3a54;
    --primary-800: #3f2738;
    --primary-900: #20131c;
    --primary-950: #100a0e;

    --secondary-50: #f5f3ef;
    --secondary-100: #ece7df;
    --secondary-200: #d9d0bf;
    --secondary-300: #c6b89f;
    --secondary-400: #b3a180;
    --secondary-500: #9f8960;
    --secondary-600: #806e4d;
    --secondary-700: #605239;
    --secondary-800: #403726;
    --secondary-900: #201b13;
    --secondary-950: #100e0a;

    --accent-50: #f5f5ef;
    --accent-100: #ececdf;
    --accent-200: #d8d9bf;
    --accent-300: #c5c69f;
    --accent-400: #b2b380;
    --accent-500: #9e9f60;
    --accent-600: #7f804d;
    --accent-700: #5f6039;
    --accent-800: #3f4026;
    --accent-900: #202013;
    --accent-950: #10100a;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #10090e;
    --text-100: #20131c;
    --text-200: #402639;
    --text-300: #603955;
    --text-400: #814b71;
    --text-500: #a15e8e;
    --text-600: #b47ea4;
    --text-700: #c69fbb;
    --text-800: #d9bfd2;
    --text-900: #ecdfe8;
    --text-950: #f6eff4;

    --background-50: #10090e;
    --background-100: #20131d;
    --background-200: #41253a;
    --background-300: #613857;
    --background-400: #824a74;
    --background-500: #a25d91;
    --background-600: #b57da7;
    --background-700: #c79ebd;
    --background-800: #dabed3;
    --background-900: #ecdfe9;
    --background-950: #f6eff4;

    --primary-50: #100a0e;
    --primary-100: #20131c;
    --primary-200: #402639;
    --primary-300: #603955;
    --primary-400: #804d71;
    --primary-500: #9f608d;
    --primary-600: #b380a4;
    --primary-700: #c69fbb;
    --primary-800: #d9bfd2;
    --primary-900: #ecdfe8;
    --primary-950: #f5eff4;

    --secondary-50: #100e0a;
    --secondary-100: #201b13;
    --secondary-200: #403726;
    --secondary-300: #605239;
    --secondary-400: #806e4d;
    --secondary-500: #9f8960;
    --secondary-600: #b3a180;
    --secondary-700: #c6b89f;
    --secondary-800: #d9d0bf;
    --secondary-900: #ece7df;
    --secondary-950: #f5f3ef;

    --accent-50: #10100a;
    --accent-100: #202013;
    --accent-200: #3f4026;
    --accent-300: #5f6039;
    --accent-400: #7f804d;
    --accent-500: #9e9f60;
    --accent-600: #b2b380;
    --accent-700: #c5c69f;
    --accent-800: #d8d9bf;
    --accent-900: #ececdf;
    --accent-950: #f5f5ef;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-family: var(--font-atkinson);
}
