---
import { SITE_AUTHOR } from '../consts';
const today = new Date();
---

<footer>
  <div class="max-w-2xl mx-auto px-4 py-8 text-xs text-gray-500 border-t border-gray-200">
    <p>&copy; {today.getFullYear()} {SITE_AUTHOR}</p>
  </div>
</footer>
