---
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.astro';

interface Props {
  currentPath?: string;
}

const { currentPath = '/' } = Astro.props;
---

<header>
  <nav class="max-w-2xl mx-auto px-4 py-8 flex justify-between items-baseline">

     <a href="/" class="text-base font-normal no-underline">{SITE_TITLE}</a>
    <div class="flex items-baseline  gap-5">
      <a href="/" class:list={[{ 'underline decoration-1' : currentPath === '/' }]}>Home</a>
      <a href="/blog" class:list={[{ 'underline decoration-1' : currentPath === '/blog' }]}>Essays</a>
      <a href="/rss.xml" class:list={[{ 'underline decoration-1' : currentPath === '/rss' }]}>Rss</a>
    <ThemeToggle />
    </div>
  </nav>
</header>

<style>
  nav a {
    text-decoration: none;
    color: var(--color-text);
  }

  nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
</style>
