---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import '../styles/global.css';
import ThemeIcon from '../components/ThemeIcon.astro'
---

<header>
	<nav class="flex justify-between  ">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="flex gap-2 justify-center items-center">
			<HeaderLink href="/blog">Thoughts</HeaderLink>
			<HeaderLink href="/about">Rss</HeaderLink>
      <ThemeIcon/>
		</div>

	</nav>
</header>
